.feed{
    
    flex: 0.4;
    border-right: 1px solid var(--twitter-background);
    min-width: fit-content;
    overflow-y: scroll;
}
/* Hide scroll bar on chrome, safari and opera*/
.feed::-webkit-scrollbar{
    display: none;
}
/* Hide scrollbar for edge, IE and firefox*/
.feed{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.feed_header{
    border-right: 1px solid var(--twitter-background);
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 100;
    border: 1px solid var(--twitter-background);
    padding: 15px 20px;
}
.feed_header > h2{
    font-size: 20px;
    font-weight: 800;
}